# ==============================================================================
# Ritik Suthar - Frontend Client Environment Configuration (Template)
# ==============================================================================

# API Base URL
VITE_API_URL=/api

# EmailJS Configuration (Free at https://www.emailjs.com/)
VITE_EMAILJS_SERVICE_ID=service_ayno0qm
VITE_EMAILJS_TEMPLATE_ID=template_mm5fme7
VITE_EMAILJS_PUBLIC_KEY=UIZRfb1zu1e7WC6mq
